body {
    background-color: gray;
}
#kontejner{
    position:absolute;
    left: 35%;
    top: 15%;
    background-color: rgb(24,25,150);
    width:640px;
    height: 480px;
}
#maleslike{
    position: absolute;
    left:0%;
    bottom:15%;
}
#naslov{
    position: absolute;
    left: 45%;
    top: 10%;
    color: white;
}
#glavna{
    position:absolute;
    top:20%;
    left: 26%;
    width:320px;
    height:200px;
}
.slika{
    float:left;
    width:64px;
    height:40px;
}